{% extends "layout.html" %}
    
    {% block header %}
    <title>Sitio en mantenimiento</title>
    {% endblock %}
    
    {% block content %}
        {% include 'home/login_navbar.html' %}
        <div class="container-fluid pt-5">
            <div class="row justify-content-center pt-5">
                <div class="col-md-8 py-5">
                    <img src="{{ url_for('static', filename='img/error_wallpaper.png') }}" class="w-100 card" alt="el sitio se encuentra en mantenimiento">
                </div>
            </div>
        </div>
    {% endblock %}
