{% extends "auth/panel.html" %}
{% block contenttitle %}
<i class="fas fa-user-graduate black3 mr-2"></i>Estudiantes
{% endblock %}
{% block contentitem %}
    <div class="row mb-4">
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="h5"><i class="fas fa-search mr-2"></i>Búsqueda</h1>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                    aria-selected="true">Nombre</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                    aria-selected="false">Apellido</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                                    aria-selected="false">Ambos</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <form action="{{ url_for('panel_estudiantes') }}" method="GET" class="py-4">
                                        <div class="row">
                                            <!-- Nombre  -->
                                            <div class="col-12 col-md-8 my-1">
                                                <input type="text" placeholder="Nombre" name="solo_nombre" class="form-control" required>
                                            </div>
                                            <!-- Search  -->
                                            <div class="col-12 col-md-4 my-1">
                                                <button type="submit" class="btn btn-primary btn-block">Buscar<i class="fas fa-arrow-right ml-3"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <form action="{{ url_for('panel_estudiantes') }}" method="GET" class="py-4">
                                        <div class="row">
                                            <!-- Apellido  -->
                                            <div class="col-12 col-md-8 my-1">
                                                <input type="text" placeholder="Apellido" name="solo_apellido" class="form-control" required>
                                            </div>
                                            <!-- Search  -->
                                            <div class="col-12 col-md-4 my-1">
                                                <button type="submit" class="btn btn-primary btn-block">Buscar<i class="fas fa-arrow-right ml-3"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                    <form action="{{ url_for('panel_estudiantes') }}" method="GET" class="py-4">
                                        <div class="row">
                                        <!-- Nombre  -->
                                            <div class="col-12 col-md-4 my-1">
                                                <input type="text" placeholder="Nombre" name="ambos_nombre" class="form-control" required>
                                            </div>
                                            <!-- Apellido  -->
                                            <div class="col-12 col-md-4 my-1">
                                                <input type="text" placeholder="Apellido" name="ambos_apellido" class="form-control" required>
                                            </div>
                                            <!-- Search  -->
                                            <div class="col-12 col-md-4 my-1">
                                                <button type="submit" class="btn btn-primary btn-block">Buscar<i class="fas fa-arrow-right ml-3"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>  
            </div>
        </div>
        <div class="col-12 col-md-4">
            {% for p in permisos %}
                {% if p.nombre == 'estudiante_new' %}
                <div class="col-12 mb-3">
                    <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#studentCreate">
                        <i class="fas fa-user-plus mr-2"></i> Nuevo Estudiante
                    </button>
                </div>
                <hr class="mx-3">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="h4 my-4">Listado</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <!-- Row Titulos -->
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Documento</th>
                        {% for p in permisos %}
                        {% if p.nombre == 'estudiante_show' %}
                        <th>Ver</th>
                        {% endif %}
                        {% if p.nombre == 'estudiante_update' %}
                        <th>Modificar</th>
                        {% endif %}
                        {% if p.nombre == 'estudiante_destroy' %}
                        <th>Eliminar</th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    <!-- Row Estudiantes -->
                    {% for row in students %}
                    <tr>
                        <td>{{row.apellido}}</td>
                        <td>{{row.nombre}}</td>
                        <td>{{row.numero}}</td>            
                        {% for p in permisos %}
                        {% if p.nombre == 'estudiante_show' %}
                        <!-- Ver estudiante -->
                        <td>
                        <a class="btn btn-success btn-sm mb-3" data-toggle="modal" data-target="#studentShow{{row.id}}"><i class="fas fa-eye mr-2"></i>Ver</a>
                        </td>
                        {% endif %}
                        {% endfor %}
                        {% for p in permisos %}
                        {% if p.nombre == 'estudiante_update' %}
                        <!-- Modificar estudiante -->
                        <td>
                        <a href="/update_student/{{row.id}}" class="btn btn-warning btn-sm mb-3" data-toggle="modal" data-target="#studentEdit{{row.id}}"><i class="fas fa-edit mr-2"></i>Editar</a>
                        </td>
                        {% endif %}
                        {% endfor %}
                        {% for p in permisos %}
                        {% if p.nombre == 'estudiante_destroy' %}
                        <!-- Eliminar estudiante -->
                        <td>
                        <a href="/delete_student/{{row.id}}" class="btn btn-danger btn-sm mb-3" onclick="return confirm('Estas seguro que deseas eliminar el estudiante?')"><i class="fas fa-user-minus mr-2"></i>Eliminar</a>
                        </td>
                        {% endif %}
                        {% endfor %}
                        
                    </tr>
                    {% for p in permisos %}
                    {% if p.nombre == 'estudiante_show' %}
                    <div id="studentShow{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Estudiante</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="mb-2">Nombre: {{row.nombre}}</p>
                                            <p class="mb-2">Apellido: {{row.apellido}}</p>
                                            <p class="mb-2">Fecha de nacimiento: {{row.fecha_nac}}</p>
                                            <p class="mb-2">
                                                {% for nivel in niveles %}
                                                {% if nivel.id == row.nivel_id %}
                                                    Nivel: {{nivel.nombre}}
                                                {% endif %}
                                                {% endfor %}
                                            </p>
                                            <p class="mb-2">Domicilio: {{row.domicilio}}</p>
                                            <p class="mb-2">
                                                {% for genero in generos %}
                                                {% if genero.id == row.genero_id %}
                                                    Genero: {{genero.nombre}}
                                                {% endif %}
                                                {% endfor %}
                                            </p>
                                            <p class="mb-2">
                                                {% for escuela in escuelas %}
                                                {% if escuela.id == row.escuela_id %}
                                                    Escuela: {{escuela.nombre}}
                                                {% endif %}
                                                {% endfor %}
                                            </p>
                                            <p class="mb-2">Documento: {{row.numero}}</p>
                                            <p class="mb-2">Telefono: {{row.tel}}</p>
                                            <p class="mb-2">
                                                {% for barrio in barrios %}
                                                {% if barrio.id == row.barrio_id %}
                                                    Barrio: {{barrio.nombre}}
                                                {% endif %}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% for p in permisos %}
                    {% if p.nombre == 'estudiante_update' %}
                    <div id="studentEdit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="{{ url_for('update_student') }}" method="POST">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Editar</h4>
                                        <button type="button" class="close" onclick="this.form.reset();" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden"  name="id" value="{{row.id}}">
                                        <!-- Nombre y apellido -->
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <label>Apellido</label>
                                                <input type="text" class="string solo-letras form-control" placeholder="Apellido" name="apellido" value="{{row.apellido}}" required="1"/>
                                            </div>
                                            <div class="col-6">
                                                <label>Nombre</label>
                                                <input type="text" class="string solo-letras form-control" placeholder="Nombre" name="nombre" value="{{row.nombre}}" required="1">
                                            </div>
                                        </div>
                                        <!-- Fecha de nacimiento -->
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <label>Fecha de nacimiento</label>
                                                <input type="date" class="datefield form-control" value="{{row.fecha_nac}}" name="fecha_nac" required="1">
                                            </div>
                                            <div class="col-6">
                                                <label>Localidad</label>
                                                <select name="localidad_id" class="browser-default custom-select" required="1">
                                                    {% for localidad in localidades %}
                                                    {% if localidad.id == row.localidad_id %}
                                                    <option value="{{localidad.id}}" selected>{{localidad.nombre}}</option>
                                                    {% else %}
                                                    <option value="{{localidad.id}}">{{localidad.nombre}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Nivel y DNI -->
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <label>Nivel</label>
                                                <select name="nivel_id" class="browser-default custom-select" required="1">
                                                    <option selected disabled>Nivel</option>
                                                    {% for nivel in niveles %}
                                                    {% if nivel.id == row.nivel_id %}
                                                    <option value="{{nivel.id}}" selected>{{nivel.nombre}}</option>
                                                    {% else %}
                                                    <option value="{{nivel.id}}">{{nivel.nombre}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <label>Domicilio</label>
                                                <input type="text" min="0" class="string form-control" value="{{row.domicilio}}" name="domicilio" required="1">
                                            </div>
                                        </div>                                
                                        <!-- Direccion -->
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <label>Género</label>
                                                <select name="genero_id" class="browser-default custom-select" required="1">
                                                    <option selected disabled>Genero</option>
                                                    {% for genero in generos %}
                                                    {% if genero.id == row.genero_id %}
                                                    <option value="{{genero.id}}" selected>{{genero.nombre}}</option>
                                                    {% else %}
                                                    <option value="{{genero.id}}">{{genero.nombre}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <label>Escuela</label>
                                                <select name="escuela_id" class="browser-default custom-select" required="1">
                                                    <option selected disabled>Escuela</option>
                                                    {% for escuela in escuelas %}
                                                    {% if escuela.id == row.escuela_id %}
                                                    <option value="{{escuela.id}}" selected>{{escuela.nombre}}</option>
                                                    {% else %}
                                                    <option value="{{escuela.id}}">{{escuela.nombre}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>    
                                        <!-- Padre madre tutor e instrumento-->
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <label>Tipo Documento</label>
                                                <select name="tipo_doc_id" class="browser-default custom-select" required="1">
                                                    {% for tipo_doc in tipo_docs %}
                                                    {% if tipo_doc.id == row.tipo_doc_id %}
                                                    <option value="{{tipo_doc.id}}" selected>{{tipo_doc.nombre}}</option>
                                                    {% else %}
                                                    <option value="{{tipo_doc.id}}">{{tipo_doc.nombre}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <label>Numero</label>
                                                <input type="number" min="99999" class="form-control" value="{{row.numero}}" name="numero" required="1">
                                            </div>
                                        </div>                    
                                        <!-- Fecha de nacimiento (Alumno) -->
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <label>Teléfono</label>
                                                <input type="number" min="99999" class="form-control" value="{{row.tel}}" name="tel" >
                                            </div>
                                            <div class="col-6">
                                                <label>Barrio</label>
                                                <select name="barrio_id" class="browser-default custom-select" required="1">
                                                    <option selected disabled>Barrio</option>
                                                    {% for barrio in barrios %}
                                                    {% if barrio.id == row.barrio_id %}
                                                    <option value="{{barrio.id}}" selected>{{barrio.nombre}}</option>
                                                    {% else %}
                                                    <option value="{{barrio.id}}">{{barrio.nombre}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Responsable -->
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <label>Responsable</label>
                                                <select name="responsable" class="browser-default custom-select" required>
                                                    <option selected disabled>Seleccionar</option>
                                                    <option value="Padre"
                                                    {% if row.responsable == 'Padre' %}
                                                    selected
                                                    {% endif %}
                                                    >Padre</option>
                                                    <option value="Madre"
                                                    {% if row.responsable == 'Madre' %}
                                                    selected
                                                    {% endif %}
                                                    >Madre</option>
                                                    <option value="Tutor"
                                                    {% if row.responsable == 'Tutor' %}
                                                    selected
                                                    {% endif %}
                                                    >Tutor</option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <label>Nombre</label>
                                                <input type="text" class="string solo-letras form-control" placeholder="Nombre p/m/t" value="{{row.pmt}}" name="pmt" required>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group row">
                                            <div class="col-6 text-left">
                                                <button class="btn btn-light black2" onclick="this.form.reset();" data-dismiss="modal">Cancelar</button>
                                            </div>
                                            <div class="col-6 text-right">
                                                <button class="btn btn-primary" type="sbumit">Actualizar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 my-4">
            <nav class="row">
                <div class="col-12">
                    {% if page == 1 %}
                    <a class="btn btn-primary mr-3 disabled" href="/">Anterior</a>
                    {% else %}
                    <a class="btn btn-primary mr-3" href="/panel_estudiantes/{{page - 1}}">Anterior</a>
                    {% endif %}
                    {% if lastpage == 1 %}
                    <a class="btn btn-primary mr-3 disabled" href="/">Siguiente</a>
                    {% else %}
                    <a class="btn btn-primary mr-3" href="/panel_estudiantes/{{page + 1}}">Siguiente</a>
                    {% endif %}
                </div>
            </nav>
        </div>
        {% for p in permisos %}
        {% if p.nombre == 'estudiante_new' %}
        <!-- Modal -->
        <div id="studentCreate" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{{ url_for('insert_student') }}" method="POST">
                        <div class="modal-header">
                            <h4 class="modal-title">Ingresar datos</h4>
                            <button type="button" class="close" onclick="this.form.reset();" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body px-4">
                            <!-- Nombre y apellido -->
                            <div class="form-group row">
                                <div class="col-6">
                                    <label>Apellido</label>
                                    <input type="text" class="string solo-letras form-control" placeholder="Apellido" name="apellido" required="1">
                                </div>
                                <div class="col-6">
                                    <label>Nombre</label>
                                    <input type="text" class="string solo-letras form-control" placeholder="Nombre" name="nombre" required="1">
                                </div>
                            </div>
                            <!-- Fecha de nacimiento -->
                            <div class="form-group row">
                                <div class="col-6">
                                    <label>Fecha de nacimiento</label>
                                    <input type="date" class="datefield form-control" name="fecha_nac" required="1">
                                </div>
                                <div class="col-6">
                                    <label>Localidad</label>
                                    <select name="localidad_id" class="browser-default custom-select" required="1">
                                        <option selected disabled>Seleccionar</option>
                                        {% for localidad in localidades %}
                                        <option value="{{localidad.id}}">{{localidad.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- Nivel y DNI -->
                            <div class="form-group row">
                                <div class="col-6">
                                    <label>Nivel</label>
                                    <select name="nivel_id" class="browser-default custom-select" required="1">
                                        <option selected disabled>Seleccionar</option>
                                        {% for nivel in niveles %}
                                        <option value="{{nivel.id}}">{{nivel.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label>Domicilio</label>
                                    <input type="text" min="0" class="string form-control" placeholder="Domicilio" name="domicilio" required="1">
                                </div>
                            </div>                    
                            <!-- Direccion -->
                            <div class="form-group row">
                                <div class="col-6">
                                    <label>Género</label>
                                    <select name="genero_id" class="browser-default custom-select" required="1">
                                        <option selected disabled>Seleccionar</option>
                                        {% for genero in generos %}
                                        <option value="{{genero.id}}">{{genero.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label>Escuela</label>
                                    <select name="escuela_id" class="browser-default custom-select" required="1">
                                        <option selected disabled>Seleccionar</option>
                                        {% for escuela in escuelas %}
                                        <option value="{{escuela.id}}">{{escuela.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>    
                            <!-- Documento -->
                            <div class="form-group row">
                                <div class="col-6">
                                    <label>Tipo Documento</label>
                                    <select name="tipo_doc_id" class="browser-default custom-select" required="1">
                                        <option selected disabled>Seleccionar</option>
                                        {% for tipo_doc in tipo_docs %}
                                        <option value="{{tipo_doc.id}}">{{tipo_doc.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label>Número</label>
                                    <input type="number" min="99999" class="form-control" placeholder="Numero DNI" name="numero" required>
                                </div>
                            </div>                    
                            <!-- Telefono y barrio -->
                            <div class="form-group row">
                                <div class="col-6">
                                    <label>Teléfono</label>
                                    <input type="number" min="99999" class="form-control" placeholder="Telefono" name="tel">
                                </div>
                                <div class="col-6">
                                    <label>Barrio</label>
                                    <select name="barrio_id" class="browser-default custom-select" required="1">
                                        <option selected disabled>Seleccionar</option>
                                        {% for barrio in barrios %}
                                        <option value="{{barrio.id}}">{{barrio.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- Responsable -->
                            <div class="form-group row">
                                <div class="col-6">
                                    <label>Responsable</label>
                                    <select name="responsable" class="browser-default custom-select" required>
                                        <option selected disabled>Seleccionar</option>
                                        <option value="Padre">Padre</option>
                                        <option value="Madre">Madre</option>
                                        <option value="Tutor">Tutor</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label>Nombre</label>
                                    <input type="text" class="string solo-letras form-control" placeholder="Nombre p/m/t" name="pmt" required>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-6 text-left">
                                    <button class="btn btn-light black2" onclick="this.form.reset();" data-dismiss="modal">Cancelar</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
        
        <script>
            function testInput(event) {
                var value = String.fromCharCode(event.which);
                var pattern = new RegExp(/[a-zåäö ]/i);
                return pattern.test(value);
                }

                $('.solo-letras').bind('keypress', testInput);
        </script>
    </div>
{% endblock %}