{% extends "auth/panel.html" %}
{% block contenttitle %}
<i class="fas fa-calendar-day mr-2"></i>Asistencia
{% endblock %}
{% block contentitem %}
    <div class="row">
        <div class="col-12 col-lg mb-3">
            <h1 class="h4">Clases</h1>
            <hr>
            <ul class="list-group">                      
            {% for p in permisos %}
            {% if p.nombre == 'horario_new' %}
                {% for clase in clases %}
                <li class="list-group-item"><a href="/ver_asistencias/{{clase.id}}" class="py-4">Semestre: {{clase.semestre}}, {{clase.año}}, {{clase.nombretaller}}, {{clase.nombrenucleo}}, {{clase.dia}} {{clase.horario}}, Docente: {{clase.nombredocente}} {{clase.apellidodocente}}</a></li>
                {% endfor %}
            {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}