{% extends "auth/panel.html" %}
{% block contenttitle %}
<i class="fas fa-school black3 mr-2"></i>Ciclos
{% endblock %}
{% block contentitem %}
    <div class="row">
        <div class="col-12 col-lg mb-3">
            <h1 class="h4 w400">Listado</h1>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <!-- Row Titulos -->
                            <tr>
                                <th>Año</th>
                                <th>Semestre</th>
                                <th>Fecha de inicio</th>
                                <th>Fecha de fin</th>
                                {% for p in permisos %}
                                {% if p.nombre == 'administrativo_update' %}
                                <th>Modificar</th>
                                {% endif %}
                                {% if p.nombre == 'administrativo_destroy' %}
                                <th>Eliminar</th>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            <!-- Row Estudiantes -->
                            {% for ciclo in pciclos %}
                            <tr>
                                <td>{{ciclo.año}}</td>
                                <td>Semestre {{ciclo.semestre}}</td>
                                <td>{{ciclo.fecha_ini}}</td>
                                <td>{{ciclo.fecha_fin}}</td>
                                {% for p in permisos %}
                                {% if p.nombre == 'administrativo_update' %}
                                <td>
                                    <a href="/get_update_ciclo/{{ciclo.id}}" class="btn btn-warning btn-sm"><i class="fas fa-edit mr-2"></i>Editar</a>
                                </td>
                                {% endif %}
                                {% if p.nombre == 'administrativo_destroy' %}
                                <td>
                                    <a href="/delete_ciclo/{{ciclo.id}}" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro deseas eliminar el usuario?')"><i class="fas fa-user-minus mr-2"></i>Eliminar</a>
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-12 my-4">
                    <nav class="row">
                        <div class="col-12">
                            {% if page == 1 %}
                            <a class="btn btn-primary mr-3 disabled" href="/">Anterior</a>
                            {% else %}
                            <a class="btn btn-primary mr-3" href="/panel_ciclos/{{page - 1}}">Anterior</a>
                            {% endif %}
                            {% if lastpage == 1 %}
                            <a class="btn btn-primary mr-3 disabled" href="/">Siguiente</a>
                            {% else %}
                            <a class="btn btn-primary mr-3" href="/panel_ciclos/{{page + 1}}">Siguiente</a>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        {% for p in permisos %}
        {% if p.nombre == 'administrativo_new' %}
        <div class="col-12 col-lg-5 mb-3">
            <div class="card p-3">
            <h1 class="h4 w400">Agregar ciclo lectivo</h1>
            <hr>
                <form action="{{ url_for('insert_ciclo') }}" method="POST"> 
                   <div class="form-group row">
                       <div class="col-12 my-3">
                           <label>Semestre</label>
                            <select name="semestre" class="browser-default custom-select" required>
                                <option selected disabled>Seleccionar</option>
                                <option value="1">Semestre I</option>
                                <option value="2">Semestre II</option>
                            </select>
                        </div>
                        <div class="col-12 my-3">
                            <label>Fecha de inicio</label>
                            <input type="date" class="form-control" name="fecha_ini" required="1">
                        </div>
                        <div class="col-12 my-3">
                            <label>Fecha de fin</label>
                            <input type="date" class="form-control" name="fecha_fin" required="1">
                        </div>
                        <div class="col-12 my-3">
                           <label>Año que corresponde</label>
                            <select name="año" class="browser-default custom-select" required>
                                <option selected disabled>Seleccionar</option>
                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <div class="col-6 text-left">
                            <button class="btn btn-light black2" onclick="this.form.reset();" data-dismiss="modal">Cancelar</button>
                        </div>
                        <div class="col-6 text-right">
                            <button class="btn btn-primary" type="submit">Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}