{% extends "auth/panel.html" %}
{% block contenttitle %}
<i class="far fa-clock mr-2"></i>Horarios
{% endblock %}
{% block contentitem %}
    <div class="row">
        <div class="col-12 col-lg mb-3">
            <h1 class="h4 w400">Listado de clases y sus horarios</h1>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <!-- Row Titulos -->
                            <tr>
                                <th>Taller</th>
                                <th>Núcleo</th>
                                <th>Día</th>
                                <th>Hora</th>
                                {% for p in permisos %}
                                {% if p.nombre == 'horario_destroy' %}
                                <th>Eliminar</th>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            <!-- Row Estudiantes -->
                            {% for clase in clases %}
                            <tr>
                                <td>{{clase.nombretaller}}</td>
                                <td>{{clase.nombrenucleo}}</td>
                                <td>{{clase.dia}}</td>
                                <td>{{clase.horario}}</td>
                                {% for p in permisos %}
                                {% if p.nombre == 'horario_destroy' %}
                                <td>
                                    <a href="/delete_clase/{{clase.id}}" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro deseas eliminar la clase?')"><i class="fas fa-user-minus mr-2"></i>Eliminar</a>
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% for p in permisos %}
        {% if p.nombre == 'administrativo_new' %}
        <div class="col-12 col-lg-5 mb-3">
            <div class="card p-3">
            <h1 class="h4 w400">Generar horario para un taller en un nucleo</h1>
            <hr>
                <form action="{{ url_for('insert_clase') }}" method="POST"> 
                   <div class="form-group row">
                        <div class="col-12 col-md-6 my-3">
                           <label>Taller</label>
                            <select name="docente_responsable_taller_id" class="browser-default custom-select" required>
                                <option selected disabled>Seleccionar</option>
                                {% for drt in docente_responsable_taller %}
                                <option value="{{drt.id}}">Semestre: {{drt.semestre}}, {{drt.año}}, Fecha: {{drt.fecha_ini}} / {{drt.fecha_fin}}, {{drt.nombretaller}}, {{drt.nombredocente}} {{drt.apellidodocente}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-6 my-3">
                           <label>Núcleo</label>
                            <select name="nucleo_id" class="browser-default custom-select" required>
                                <option selected disabled>Seleccionar</option>
                                {% for nucleo in nucleos %}
                                <option value="{{nucleo.id}}">{{nucleo.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-6 my-3">
                           <label>Día</label>
                            <select name="dia" class="browser-default custom-select" required>
                                <option selected disabled>Seleccionar</option>
                                <option value="Lunes">Lunes</option>
                                <option value="Martes">Martes</option>
                                <option value="Miércoles">Miércoles</option>
                                <option value="Jueves">Jueves</option>
                                <option value="Viernes">Viernes</option>
                                <option value="Sábado">Sábado</option>
                                <option value="Domingo">Domingo</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 my-3">
                           <label>Hora</label>
                            <select name="horario_id" class="browser-default custom-select" required>
                                <option selected disabled>Seleccionar</option>
                                {% for hora in horarios %}
                                <option value="{{hora.id}}">{{hora.horario}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <div class="col-6 text-left">
                            <button class="btn btn-light black2" onclick="this.form.reset();">Cancelar</button>
                        </div>
                        <div class="col-6 text-right">
                            <button class="btn btn-primary" type="submit">Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}