{% extends "auth/panel.html" %}
{% block contenttitle %}
<i class="fas fa-guitar black3 mr-2"></i>Instrumentos
{% endblock %}
{% block contentitem %}
    <div class="row mb-4">
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="h5">Instrumento</h1>
                            <hr>
                            <p class="h6 w400">Nombre:{{ instrumento.nombre }}</p>
                            <p class="h6 w400">Tipo:{{ instrumento.tipo }}</p>
                            <p class="h6 w400">Codigo:{{ instrumento.codigo }}</p>
                            <hr>
                            <img class="instrumento" src="/static/img/instrumentos/{{instrumento.img}}" alt="Imagen de instrumento">
                        </div>
                    </div>  
                </div>  
            </div>
        </div>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
    </div>
{% endblock %}