{% extends "auth/panel.html" %}
{% block contenttitle %}
<i class="fas fa-guitar black3 mr-2"></i>Instrumentos
{% endblock %}
{% block contentitem %}
    <div class="row mb-4">
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="h5">Instrumento</h1>
                            <hr>
                        </div>
                        <div class="col-12">
                            <form method="POST" action="{{ url_for('update_instrument') }}" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <input type="hidden"  name="id_data" value="{{instrumento.id}}">
                                        <label class="h6 w400 black4">Nombre</label>
                                        <input type="text" class="form-control mb-3" value="{{ instrumento.nombre }}" name="nombre" required>
                                        <label class="h6 w400 black4">Tipo</label>
                                        <select name="tipo_instrumento" class="browser-default custom-select mb-3" required="1" required>
                                            {% for tipo in tipos %}
                                            {% if tipo.id == instrumento.tipo_id %}
                                            <option value="{{tipo.id}}" selected>{{tipo.nombre}}</option>
                                            {% else %}
                                            <option value="{{tipo.id}}">{{tipo.nombre}}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        <label class="h6 w400 black4">Codigo</label>
                                        <input type="text" class="form-control mb-3" value="{{ instrumento.codigo }}" name="codigo" required>
                                        <!--img class="instrumento" src="/static/img/instrumentos/{{instrumento.img}}" alt="Imagen de instrumento"-->
                                    </div>
                                    <div class="col-12 text-right">
                                        <hr>
                                        <button type="submit" class="btn btn-success">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>  
                </div>  
            </div>
        </div>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
    </div>
{% endblock %}