{% extends "auth/panel.html" %}
{% block contenttitle %}
<i class="fas fa-home mr-2"></i>Núcleo
{% endblock %}
{% block contentitem %}
    <div class="row">
        <div class="col-12 col-md-4">
            <h1 class="h4 black3 mb-3 text-uppercase">{{nucleo.nombre}}</h1>
            <p class="h5 black4 mb-2">Dirección: {{nucleo.direccion}}</p>
            <p class="h5 black4">Teléfono: {{nucleo.telefono}}</p>
            <hr class="my-4">
            <a class="btn btn-primary mr-3" href="/panel_nucleos"><i class="fas fa-chevron-left mr-2"></i>Volver a los núcleos</a>
        </div>
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="black5 h5"><i class="fas fa-map-marker-alt mr-2"></i>Ubicación</h1>
                    <hr>
                    <div id="minmapid"></div>
                    <script>
                        var mymap = L.map('minmapid').setView([-34.9060, -57.89], 12.1);
                        var latitude = {{nucleo.latitude}}
                        var longitude = {{nucleo.longitude}}

                        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                            maxZoom: 18,
                            id: 'mapbox/streets-v11',
                            accessToken: 'pk.eyJ1IjoibnVtZXJhIiwiYSI6ImNrNDF0bnQ2ejAxZmwzZHB0aTNta3FrZmgifQ.72Hy10HV07lVW5VjaQr9sA'
                        }).addTo(mymap);
                        var marker = L.marker([latitude, longitude]).addTo(mymap);
                        marker.bindPopup("<b>{{nucleo.nombre}}</b><br>{{nucleo.direccion}}").openPopup();
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}