{% extends "auth/panel.html" %}
{% block contenttitle %}
<i class="fas fa-users mr-2"></i>Modificar Usuario
{% endblock %}
{% block contentitem %}
    <div class="row mb-4">
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="h5">Usuario</h1>
                            <hr>
                        </div>
                        <div class="col-12">
                            <form action="{{ url_for('update_user') }}" method="POST" id="sectionFormUpdate" onSubmit = "return checkPassword(this)">
                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <input type="hidden"  name="id_data" value="{{user.id}}">
                                        <div class="form-group row">
                                            <div class="col-12 col-md-6 mb-3">
                                                <label>Nombre</label>
                                                <input type="text" class="solo-letras form-control" value="{{user.first_name}}" placeholder="Ingrese apellido" name="first_name" required>
                                            </div>
                                            <div class="col-12 col-md 6 mb-3">
                                                <label>Apellido</label>
                                                <input type="text" class="solo-letras form-control" value="{{user.last_name}}" placeholder="Ingrese nombre" name="last_name" required>
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <label>Nombre de usuario</label>
                                                <input type="text" class="form-control" value="{{user.username}}" placeholder="Ingrese nombre de usuario" id="username" name="username" required>
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <label>Email</label>
                                                <input type="email" class="form-control" value="{{user.email}}" name="email" placeholder="Ingrese email" required>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <label>Rol</label>
                                                {% for rol in roles_lista %}
                                                <!-- Default checked -->
                                                <div class="custom-control custom-checkbox">
                                                    <input name="rol{{ rol.id }}" type="checkbox" class="custom-control-input" id="{{ rol.nombre }}" value="rol{{ rol.id }}"
                                                    {% for urole in roles %}
                                                    {% if urole.id == rol.id %}
                                                    checked
                                                    {% endif %}
                                                    {% endfor %}
                                                    >
                                                    <label class="custom-control-label" for="{{ rol.nombre }}">{{ rol.nombre }}</label>
                                                </div>
                                                {% endfor %}
                                                <script>
                                                    (function() {
                                                        const form = document.querySelector('#sectionFormUpdate');
                                                        const checkboxes = form.querySelectorAll('input[type=checkbox]');
                                                        const checkboxLength = checkboxes.length;
                                                        const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

                                                        function init() {
                                                            if (firstCheckbox) {
                                                                for (let i = 0; i < checkboxLength; i++) {
                                                                    checkboxes[i].addEventListener('change', checkValidity);
                                                                }

                                                                checkValidity();
                                                            }
                                                        }

                                                        function isChecked() {
                                                            for (let i = 0; i < checkboxLength; i++) {
                                                                if (checkboxes[i].checked) return true;
                                                            }

                                                            return false;
                                                        }

                                                        function checkValidity() {
                                                            const errorMessage = !isChecked() ? 'Elige al menos un rol.' : '';
                                                            firstCheckbox.setCustomValidity(errorMessage);
                                                        }
                
                                                        init();
                                                    })();
                                                    $(function() {
                                                        $("input#username").on("keydown", function (e) {
                                                            return e.which !== 32;
                                                        });​​​​​
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group row">
                                            <div class="col-6 text-left">
                                                <button class="btn btn-light black2" onclick="this.form.reset();" data-dismiss="modal">Cancelar</button>
                                            </div>
                                            <div class="col-6 text-right">
                                                <button class="btn btn-primary" type="sbumit">Actualizar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>  
                </div>  
            </div>
        </div>
        <div class="col-12 my-4">    
            <a class="btn btn-primary mr-3" href="/panel_usuarios"><i class="fas fa-chevron-left mr-2"></i>Volver a los usuarios</a>
        </div>                    
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
    </div>
{% endblock %}